@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 672px; 
  margin: 0 auto; 
  padding: 0 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar { width: 8px; }
body::-webkit-scrollbar-track { @apply bg-white dark:bg-[#050505]; }
body::-webkit-scrollbar-thumb { @apply bg-gray-200 dark:bg-[#262626]; border-radius: 4px; }
::selection { @apply bg-gray-200 dark:bg-[#333] text-black dark:text-white; }